{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
      <span>
        {%- render 'icon-alls'
          , icon: 'icon-hamburger' -%}
        {%- render 'icon-alls'
          , icon: 'icon-close' -%}
      </span>
    </summary>
    <mega-menu-drawer id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container scrollbar-smooth">
          <nav id="menu-navigation" class="menu-drawer__navigation">
            <ul
              id="menu-level-0"
              class="menu-drawer__menu has-submenu list-menu"
              role="list">
              {% for block in section.blocks %}
                <li class="menu_item menu_item_level_0 menu_item_submenu_type_automatic menu_item_mobile">
                  {% case block.type %}
                    {% when 'collections_image_menu' %}
                      <a
                        role="button"
                        target="_self"
                        title="{{ block.settings.title | escape }}"
                        class="menu_item_link"
                        {% if block.settings.link == blank %}
                        disabled
                        {% endif %}
                        href="{{ block.settings.link | default: "javascript:0;"}}">
                        <span class="menu_item_text">{{ block.settings.title | default: block.settings.menu | escape }}</span>
                        {% if block.settings.collection_list_menu.count > 0 %}
                          <span class="menu_indicator" mobile="true">
                            <span class="menu_indicator_icon">
                              {%- render 'icon-alls'
                                , icon: 'icon-caret' -%}
                            </span>
                          </span>
                        {% endif %}
                      </a>
                      <ul class="collections_image_menu menu_submenu menu_submenu_type_automatic _menu_submenu--mobile">
                        {%- for collection in block.settings.collection_list_menu -%}
                          {% if collection.image != blank %}
                            <li class="menu_item menu_item_level_1 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_image">
                              <a
                                role="button"
                                href="{{ collection.url | default: "javascript:0;" }}"
                                target="_self"
                                title="{{ collection.title | escape }}"
                                class="menu_item_link menu_item_content_alignment_center">
                                <div class="menu_image menu_image--above">
                                  <img
                                    srcset="
                                    {{ collection.image | image_url: width: 180 }} 180w,
                                    {{ collection.image | image_url: width: 360 }} 360w,
                                    {{ collection.image | image_url: width: 540 }} 540w,
                                    {{ collection.image | image_url: width: 720 }} 720w,
                                    {{ collection.image | image_url: width: 900 }} 900w,
                                    {{ collection.image | image_url: width: 1080 }} 1080w,
                                    {{ collection.image | image_url: width: 1296 }} 1296w,
                                    {{ collection.image | image_url: width: 1512 }} 1512w,
                                    {{ collection.image | image_url: width: 1728 }} 1728w,
                                    {{ collection.image | image_url: width: 2048 }} 2048w
                                  "
                                    sizes="100vw"
                                    src="{{ collection.image | image_url: width: collection.image.width }}"
                                    alt="{{ collection.image.alt |  escape }}"
                                    loading="lazy"
                                    class="image-menu"
                                    style="border-radius: {{ block.settings.border |  append: '%' }}"
                                    width="{{ collection.image.width }}"
                                    height="{{ collection.image.width | divided_by: collection.image.aspect_ratio }}">
                                </div>
                              </a>
                            </li>
                          {% endif %}
                        {%- endfor -%}
                      </ul>
                    {% when 'dynamic_menu' %}
                      <a
                        role="button"
                        target="_self"
                        title="{{ block.settings.title | escape }}"
                        class="menu_item_link"
                        {% if block.settings.link == blank %}
                        disabled
                        {% endif %}
                        href="{{ block.settings.link | default: "javascript:0;"}}">
                        <span class="menu_item_text">{{ block.settings.title | default: block.settings.menu | escape }}</span>
                        {% if block.settings.menu.links.size > 0 %}
                          <span class="menu_indicator" mobile="true">
                            <span class="menu_indicator_icon">
                              {%- render 'icon-alls'
                                , icon: 'icon-caret' -%}
                            </span>
                          </span>
                        {% endif %}
                      </a>
                      <ul class="menu_submenu menu_submenu_type_automatic _menu_submenu--mobile" tabindex="-1">
                        {% for link in block.settings.menu.links %}
                          <li class="menu_item menu_item_level_1 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_text menu_item_display_header {% if link.links.size > 0 %} has-child {% endif %}">
                            <a
                              role="button"
                              target="_self"
                              title="{{ link.title | escape }}"
                              class="menu_item_link"
                              {% if link.url == blank %}
                              disabled
                              {% endif %}
                              href="{{ link.url | default: "javascript:0;"}}">
                              <span class="menu_item_text">{{ link.title | escape }}</span>
                              {% if link.links.size > 0 %}
                                <span class="menu_indicator" mobile="true">
                                  <span class="menu_indicator_icon">
                                    {%- render 'icon-alls'
                                      , icon: 'icon-caret' -%}
                                  </span>
                                </span>
                              {% endif %}
                            </a>
                            <ul class="menu_submenu menu_submenu_type_automatic menu_submenu--mobile" tabindex="-1">
                              {% for childlink in link.links %}
                                <li class="menu_item menu_item_level_2 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout {% if childlink.links %} has-child {% endif %}">
                                  <a
                                    role="button"
                                    target="_self"
                                    title="{{ childlink.title | escape }}"
                                    class="menu_item_link"
                                    {% if childlink.url == blank %}
                                    disabled
                                    {% endif %}
                                    href="{{ childlink.url | default: "javascript:0;"}}">
                                    {%- case childlink.type -%}
                                      {%- when 'collection_link' or 'article_link' -%}
                                        {%- if childlink.object.image != blank -%}
                                          <div class="menu_image menu_image--above">
                                            {{ childlink.object.image | image_url: width: childlink.object.image.width | image_tag: loading: 'lazy', sizes: '100vw', class: "image-menu", alt: childlink.object.image.alt | escape }}
                                          </div>
                                          {% if childlink.links.size > 0 %}
                                            <span class="menu_indicator menu_indicator_width_image" mobile="true">
                                              <span class="menu_indicator_icon">
                                                {%- render 'icon-alls'
                                                  , icon: 'icon-caret' -%}
                                              </span>
                                            </span>
                                          {% endif %}
                                        {%- else -%}
                                          <span class="menu_item_text">{{ childlink.title | escape }}</span>
                                          {% if childlink.links.size > 0 %}
                                            <span class="menu_indicator" mobile="true">
                                              <span class="menu_indicator_icon">
                                                {%- render 'icon-alls'
                                                  , icon: 'icon-caret' -%}
                                              </span>
                                            </span>
                                          {% endif %}
                                        {%- endif -%}
                                      {%- when 'product_link' -%}
                                        {%- assign child_media = childlink.object.media | first | default: blank -%}
                                        {%- if childlink.object.selected_or_first_available_variant.featured_media != blank -%}
                                          <div class="menu_image menu_image--above">
                                            {{ childlink.object.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 727 | image_tag: loading: 'lazy', sizes: sizes, class: "image-menu", alt: childlink.object.selected_or_first_available_variant.featured_media.preview_image.alt | escape }}
                                          </div>
                                          {% if childlink.links.size > 0 %}
                                            <span class="menu_indicator menu_indicator_width_image" mobile="true">
                                              <span class="menu_indicator_icon">
                                                {%- render 'icon-alls'
                                                  , icon: 'icon-caret' -%}
                                              </span>
                                            </span>
                                          {% endif %}
                                        {%- else if child_media != blank -%}
                                          <div class="menu_image menu_image--above">
                                            {{ child_media | image_url: width: 727 | image_tag: loading: 'lazy', sizes: sizes, class: "image-menu", alt: child_media.alt | escape }}
                                          </div>
                                          {% if childlink.links.size > 0 %}
                                            <span class="menu_indicator menu_indicator_width_image" mobile="true">
                                              <span class="menu_indicator_icon">
                                                {%- render 'icon-alls'
                                                  , icon: 'icon-caret' -%}
                                              </span>
                                            </span>
                                          {% endif %}
                                        {%- else -%}
                                          <span class="menu_item_text">{{ childlink.title | escape }}</span>
                                          {% if childlink.links.size > 0 %}
                                            <span class="menu_indicator" mobile="true">
                                              <span class="menu_indicator_icon">
                                                {%- render 'icon-alls'
                                                  , icon: 'icon-caret' -%}
                                              </span>
                                            </span>
                                          {% endif %}
                                        {%- endif -%}
                                      {%- else -%}
                                        <span class="menu_item_text">{{ childlink.title | escape }}</span>
                                        <span class="menu_indicator" mobile="true">
                                          <span class="menu_indicator_icon">
                                            {%- render 'icon-alls'
                                              , icon: 'icon-caret' -%}
                                          </span>
                                        </span>
                                        {% if childlink.links.size > 0 %}
                                          <span class="menu_indicator" mobile="true">
                                            <span class="menu_indicator_icon">
                                              {%- render 'icon-alls'
                                                , icon: 'icon-caret' -%}
                                            </span>
                                          </span>
                                        {% endif %}
                                    {%- endcase -%}
                                  </a>
                                  <ul class="menu_submenu menu_submenu_type_automatic menu_submenu--mobile">
                                    {% for grandchildlink in childlink.links %}
                                      <li class="menu_item menu_item_level_3 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout">
                                        <a
                                          role="button"
                                          target="_self"
                                          title="{{ grandchildlink.title | escape }}"
                                          class="menu_item_link"
                                          {% if grandchildlink.url == blank %}
                                          disabled
                                          {% endif %}
                                          href="{{ grandchildlink.url | default: "javascript:0;"}}">
                                          {%- case grandchildlink.type -%}
                                            {%- when 'collection_link' or 'article_link' -%}
                                              {%- if grandchildlink.object.image != blank -%}
                                                <div class="menu_image menu_image--above">
                                                  {{ grandchildlink.object.image | image_url: width: grandchildlink.object.image.width | image_tag: loading: 'lazy', sizes: '100vw', class: "image-menu", alt: grandchildlink.object.image.alt | escape }}
                                                </div>
                                              {%- else -%}
                                                <span class="menu_item_text">{{ grandchildlink.title | escape }}</span>
                                              {%- endif -%}
                                            {%- when 'product_link' -%}
                                              <div class="menu_image menu_image--above">
                                                {%- assign grandchild_media = grandchildlink.object.media | first | default: blank -%}
                                                {%- if grandchildlink.object.selected_or_first_available_variant.featured_media != blank -%}
                                                  {{ grandchildlink.object.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 727 | image_tag: loading: 'lazy', sizes: sizes, class: "image-menu", alt: grandchildlink.object.selected_or_first_available_variant.featured_media.preview_image.alt | escape }}
                                                {%- else if grandchild_media != blank -%}
                                                  {{ grandchild_media | image_url: width: 727 | image_tag: loading: 'lazy', sizes: sizes, class: "image-menu", alt: grandchild_media.alt | escape }}
                                                {%- else -%}
                                                  <span class="menu_item_text">
                                                    {{ childlink.title | escape }}
                                                  </span>
                                                {%- endif -%}
                                              </div>
                                            {%- else -%}
                                              <span class="menu_item_text">{{ grandchildlink.title | escape }}</span>
                                          {%- endcase -%}
                                        </a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endfor %}
                      </ul>
                    {% when 'menu_column_with_image' %}
                      <a
                        role="button"
                        target="_self"
                        title="{{ block.settings.title | escape }}"
                        class="menu_item_link"
                        {% if block.settings.link == blank %}
                        disabled
                        {% endif %}
                        href="{{ block.settings.link | default: "javascript:0;"}}">
                        <span class="menu_item_text">{{ block.settings.title | default: block.settings.menu | escape }}</span>
                        {%- unless block.settings.menu.links.size == 0 and block.settings.image == blank and block.settings.image_2 == blank and block.settings.image_3 == blank -%}
                          <span class="menu_indicator" mobile="true">
                            <span class="menu_indicator_icon">
                              {%- render 'icon-alls'
                                , icon: 'icon-caret' -%}
                            </span>
                          </span>
                        {%- endunless -%}
                      </a>
                      <ul class="menu_submenu menu_submenu_type_automatic _menu_submenu--mobile">
                        {% for link in block.settings.menu.links %}
                          <li class="menu_item menu_item_level_1 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_text menu_item_display_header {% if link.links.size > 0 %} has-child {% endif %}">
                            <a
                              role="button"
                              target="_self"
                              title="{{ link.title | escape }}"
                              class="menu_item_link"
                              {% if link.url == blank %}
                              disabled
                              {% endif %}
                              href="{{ link.url | default: "javascript:0;"}}">
                              <span class="menu_item_text">{{ link.title | escape }}</span>
                              {%- if link.links.size > 0 -%}
                                <span class="menu_indicator" mobile="true">
                                  <span class="menu_indicator_icon">
                                    {%- render 'icon-alls'
                                      , icon: 'icon-caret' -%}
                                  </span>
                                </span>
                              {%- endif -%}
                            </a>
                            <ul class="menu_submenu menu_submenu_type_automatic _menu_submenu--mobile">
                              {% for childlink in link.links %}
                                <li class="menu_item menu_item_level_2 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_text menu_item_display_header {% if link.links.size > 0 %} has-child {% endif %}">
                                  <a
                                    role="button"
                                    target="_self"
                                    title="{{ childlink.title | escape }}"
                                    class="menu_item_link"
                                    {% if childlink.url == blank %}
                                    disabled
                                    {% endif %}
                                    href="{{ childlink.url | default: "javascript:0;"}}">
                                    <span class="menu_item_text">{{ childlink.title | escape }}</span>
                                    {%- if childlink.links.size > 0 -%}
                                      <span class="menu_indicator" mobile="true">
                                        <span class="menu_indicator_icon">
                                          {%- render 'icon-alls'
                                            , icon: 'icon-caret' -%}
                                        </span>
                                      </span>
                                    {%- endif -%}
                                  </a>
                                  <ul class="menu_submenu menu_submenu_type_automatic _menu_submenu--mobile">
                                    {% for grandchildlink in childlink.links %}
                                      <li class="menu_item menu_item_level_2 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_text menu_item_display_header {% if link.links.size > 0 %} has-child {% endif %}">
                                        <a
                                          role="button"
                                          target="_self"
                                          title="{{ grandchildlink.title | escape }}"
                                          class="menu_item_link"
                                          {% if grandchildlink.url == blank %}
                                          disabled
                                          {% endif %}
                                          href="{{ grandchildlink.url | default: "javascript:0;"}}">
                                          <span class="menu_item_text">{{ grandchildlink.title | escape }}</span>
                                          {%- if grandchildlink.links.size > 0 -%}
                                            <span class="menu_indicator" mobile="true">
                                              <span class="menu_indicator_icon">
                                                {%- render 'icon-alls'
                                                  , icon: 'icon-caret' -%}
                                              </span>
                                            </span>
                                          {%- endif -%}
                                        </a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% endfor %}
                        {%- if block.settings.image != blank -%}
                          <li class="menu_item menu_item_level_1 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_text menu_item_display_header">
                            <a
                              target="_self"
                              href="{{ block.settings.link_image | default: "javascript:0;" }}"
                              class="menu_item_link"
                              {% if block.settings.link_image == blank %}
                              disabled
                              {% endif %}
                              role="button">
                              <div class="menu_image menu_image--above">
                                {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: '100vw', class: "image-menu", alt: block.settings.image.alt | escape }}
                              </div>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if block.settings.image_2 != blank -%}
                          <li class="menu_item menu_item_level_1 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_text menu_item_display_header">
                            <a
                              target="_self"
                              href="{{ block.settings.link_image_2 | default: "javascript:0;" }}"
                              class="menu_item_link"
                              {% if block.settings.link_image_2 == blank %}
                              disabled
                              {% endif %}
                              role="button">
                              <div class="menu_image menu_image--above">
                                {{ block.settings.image_2 | image_url: width: block.settings.image_2.width | image_tag: loading: 'lazy', sizes: '100vw', class: "image-menu", alt: block.settings.image_2.alt | escape }}
                              </div>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if block.settings.image_3 != blank -%}
                          <li class="menu_item menu_item_level_1 menu_item_submenu_type_automatic menu_item_mobile menu_item_layout menu_item_layout_text menu_item_display_header">
                            <a
                              target="_self"
                              href="{{ block.settings.link_image_3 | default: "javascript:0;" }}"
                              class="menu_item_link"
                              {% if block.settings.link_image_3 == blank %}
                              disabled
                              {% endif %}
                              role="button">
                              <div class="menu_image menu_image--above">
                                {{ block.settings.image_3 | image_url: width: block.settings.image_3.width | image_tag: loading: 'lazy', sizes: '100vw', class: "image-menu", alt: block.settings.image_3.alt | escape }}
                              </div>
                            </a>
                          </li>
                        {%- endif -%}
                      </ul>
                  {% endcase %}
                </li>
              {% endfor %}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow">
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {%- render 'icon-alls'
                          , icon: 'icon-account' -%}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {%- render 'icon-alls'
                      , icon: 'icon-account' -%}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization'
                      , id: 'HeaderCountryMobileForm'
                      , class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization'
                          , localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization'
                      , id: 'HeaderLanguageMobileForm'
                      , class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization'
                          , localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-twitter' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-facebook' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-pinterest' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-instagram' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-tiktok' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-tumblr' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-snapchat' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-youtube' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {%- render 'icon-alls'
                        , icon: 'icon-vimeo' -%}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </mega-menu-drawer>
  </details>
</header-drawer>
<script src="{{ 'mega-menu-drawer.js' | asset_url }}" defer></script>