{{ 'my-address.css' | asset_url | stylesheet_tag }}

{% liquid 
    assign address_postal_code = ''

    for address in customer.addresses
        if address.zip != blank
            if address_postal_code != blank
                assign address_postal_code = address_postal_code | append: ',' | append: address.zip
            else
                assign address_postal_code = address_postal_code | append: address.zip
            endif
        endif
    endfor
%}

<my-address>
    <div class="my-address">
        <div>
          <h2>{{ 'customer.account.details' | t }}</h2>
          {{ customer.default_address | format_address }}
          <a href="{{ routes.account_addresses_url }}">
            {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
          </a>
        </div>
    </div>
</my-address>
