{{ 'my-address.css' | asset_url | stylesheet_tag }}

{% liquid 
    assign address_postal_code = ''

    for address in customer.addresses
        if address.zip != blank
            if address_postal_code != blank
                assign address_postal_code = address_postal_code | append: ',' | append: address.zip
            else
                assign address_postal_code = address_postal_code | append: address.zip
            endif
        endif
    endfor
%}

<my-address>
    <div class="my-address">
        <div class="mobile-heading">
            <div class="mobile-title">
                {{ 'customer.addresses.mobile_title' | t }}
            </div>
            <div class="mobile-description">
                {{ 'customer.addresses.mobile_description' | t }}
            </div>
        </div>
        {%- paginate customer.addresses by 20 -%}
            <div class="my-address-wrapper" {% if address_postal_code != blank %}address-postal-code="{{ address_postal_code }}"{% endif %}>
                <div class="add-new-block">
                    <span class="add-new-icon">
                        {% render 'icon-alls', icon: 'add-new-address-icon' %}
                    </span>
                    <div class="add-new-textbox">
                        <span class="add-new-title">
                            {{ 'customer.addresses.add_new_address' | t }}
                        </span>
                        <span class="add-new-content">
                            {{ 'customer.addresses.add_new_content' | t }}
                        </span>
                    </div>
                    <button type="none" class="add-new-button">
                        {{ 'customer.addresses.add_new_address' | t }}
                    </button>
                </div>
                {%- for address in customer.addresses -%}
                <div class="customer-address"
                    data-address='{"id": "{{ address.id }}", "firstName": "{{ address.first_name | strip_newlines }}", "lastName": "{{ address.last_name | strip_newlines }}", "address1": "{{ address.address1 | strip_newlines }}", "address2": "{{ address.address2 | strip_newlines }}", "postal": "{{ address.zip | strip_newlines }}", "province": "{{ address.province }}", "phoneNumber": "{{ address.phone | strip_newlines }}", "company": "{{ address.company | strip_newlines }}", "city": "{{ address.city | strip_newlines }}" }'>
                    <div class="address-heading">
                        <div class="address-name-wrapper">
                        <span class="address-name">{{ address.name }}</span>
                        </div>
                        <div class="address-action">
                            <button class="address-edit">
                                <span>
                                    {% render 'icon-alls', icon: 'edit-address' %}
                                </span>
                            </button>
                            <button class="address-remove" data-address-id="{{ address.id }}">
                                <span>
                                    {% render 'icon-alls', icon: 'remove-address' %}
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="address-description">
                        {% if address.address1 != blank %}
                        <div class="address-detail">
                            <span>
                                {{- address.address1 -}}
                            </span>
                        </div>
                        {% endif %}
                        {% if address.address2 != blank or address.city != blank %}
                            <div class="subdistrict-district">
                            <span>
                                {% if address.address2 != blank %}{{- address.address2 -}}{% endif %}
                                {% if address.city != blank%}{% if address.address2 != blank %}{{-', '-}}{% endif %}{{- address.city -}}{% endif %}
                            </span>
                            </div>
                        {% endif %}
                        {% if address.province != blank or address.zip != blank %}
                            <div class="province">
                                <span>{{- address.province -}}{% if address.zip%}{% if address.province %}, {% endif %}{{- address.zip -}}{% endif %}</span>
                            </div>
                        {% endif %}
                        {% if address.phone != blank %}
                            <div class="phone" data-phone="{{- address.phone | replace: " ", "" | replace: "-", "" -}}">
                                <span>{{- address.phone | replace: " ", "" | replace: "-", "" -}}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="set-default">
                        {% if address == customer.default_address %}
                            <span class="icon-turn-on">
                                {% render 'icon-alls', icon: 'turn-on' %}
                            </span>
                            <span class="content">{{ 'customer.addresses.is_default' | t }}</span>
                        {% else %}
                            <span class="icon-turn-off" data-address-id="{{ address.id }}">
                                {% render 'icon-alls', icon: 'turn-off' %}
                            </span>
                            <span class="content">{{ 'customer.addresses.set_default' | t }}</span>
                        {% endif %}
                    </div>
                </div>
                {%- endfor -%}
            </div>

            {%- if paginate.pages > 1 -%}
                {%- if paginate.parts.size > 0 -%}
                    <div class="paginate-nav">
                        {%- if paginate.previous -%}
                            <div class="previous">
                                <a href="{{ paginate.previous.url }}&tab=my-address-tab" aria-label="{{ 'general.pagination.previous' | t }}">
                                    <span>
                                        {% render 'icon-alls', icon: 'paginate-arrow' %}
                                    </span>
                                </a>
                            </div>
                        {%- else -%}
                            <div class="previous disabled">
                                <span>
                                    {% render 'icon-alls', icon: 'paginate-arrow' %}
                                </span>
                            </div>
                        {%- endif -%}
                        {%- for part in paginate.parts -%}
                            <div class="page">
                            {%- if part.is_link -%}
                                <a href="{{ part.url }}&tab=my-address-tab" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                                {{- part.title -}}
                                </a>
                            {%- else -%}
                                {%- if part.title == paginate.current_page -%}
                                <span class="current-page" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                                    {{- part.title -}}
                                </span>
                                {%- else -%}
                                <span>{{ part.title }}</span>
                                {%- endif -%}
                            {%- endif -%}
                            </div>
                        {%- endfor -%}
                        {%- if paginate.next -%}
                            <div class="next">
                                <a href="{{ paginate.next.url }}&tab=my-address-tab" class="next" aria-label="{{ 'general.pagination.next' | t }}">
                                    <span>
                                        {% render 'icon-alls', icon: 'paginate-arrow' %}
                                    </span>
                                </a>
                            </div>
                        {%- else -%}
                            <div class="next disabled">
                                <span>
                                    {% render 'icon-alls', icon: 'paginate-arrow' %}
                                </span>
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
            {%- endif -%}
        {%- endpaginate -%}
        <div class="address-form-wrapper">
            <div class="address-form">
                <div class="close-button">
                    <span>
                        {% render 'icon-alls', icon: 'close-address-form' %}
                    </span>
                </div>
                <div class="form-address-title">
                    <span class="add-title">
                        {{ 'customer.addresses.add_new_address' | t }}
                    </span>
                    <span class="update-title">
                        {{ 'customer.addresses.edit_address' | t }}
                    </span>
                    <span class="address-invalid-message">
                        {{ 'customer.addresses.invalid_address_message' | t }}
                    </span>
                </div>
                <div class="add-form">
                    <input type="text" name="address-id" hidden />
                    <input type="text" name="default-address-id" value="{{ customer.default_address.id }}" hidden />
                    <input type="text" name="company" hidden />
                    <div class="name-field">
                        <div class="require-field">
                            <input type="text" name="first-name" placeholder="{{ 'customer.addresses.first_name' | t }}" />
                            <label for="first-name">{{ 'customer.addresses.first_name' | t }}</label>
                            <span class="require-message">
                                {{ 'customer.addresses.require_error' | t }}
                            </span>
                        </div>
                        <div class="require-field">
                            <input type="text" name="last-name" placeholder="{{ 'customer.addresses.last_name' | t }}" />
                            <label for="last-name">{{ 'customer.addresses.last_name' | t }}</label>
                            <span class="require-message">
                                {{ 'customer.addresses.require_error' | t }}
                            </span>
                        </div>
                    </div>
                    <div class="address-field require-field">
                        <input type="text" name="address1" placeholder="{{ 'customer.addresses.address_new' | t }}" />
                        <label for="address1">{{ 'customer.addresses.address_new' | t }}</label>
                        <span class="require-message">
                            {{ 'customer.addresses.require_error' | t }}
                        </span>
                    </div>
                    <div class="postal-sub-district">
                        <div class="require-field">
                            <input type="text" name="postal" autocomplete="off"
                                placeholder="{{ 'customer.addresses.postal_code' | t }}" />
                            <label for="postal">{{ 'customer.addresses.postal_code' | t }}</label>
                            <span class="require-message">
                                {{ 'customer.addresses.require_error' | t }}
                            </span>
                            <span class="invalid-message">
                                {{ 'customer.addresses.invalid_postal_error' | t }}
                            </span>
                        </div> 
                        <div class="require-field">
                            <select name="address2" autocomplete="off" disabled>
                                <option value="">{{ 'customer.addresses.sub_district' | t }}</option>
                            </select>
                            <label for="address2">{{ 'customer.addresses.sub_district' | t }}</label>
                            <span class="require-message">
                                {{ 'customer.addresses.require_error' | t }}
                            </span>
                        </div>
                    </div>
                    <div class="district-province">
                        <div class="require-field">
                            <select name="city" autocomplete="off" disabled>
                                <option value="">{{ 'customer.addresses.district' | t }}</option>
                            </select>
                            <label for="city">{{ 'customer.addresses.district' | t }}</label>
                            <span class="require-message">
                                {{ 'customer.addresses.require_error' | t }}
                            </span>
                        </div>
                        <div class="require-field">
                            <select name="province" autocomplete="off" disabled>
                                <option value="">{{ 'customer.addresses.province' | t }}</option>
                            </select>
                            <label for="province">{{ 'customer.addresses.province' | t }}</label>
                            <span class="require-message">
                                {{ 'customer.addresses.require_error' | t }}
                            </span>
                        </div>
                    </div>
                    <div class="phone-number-field require-field" autocomplete="off">
                        <input type="text" name="phone-number" placeholder="0812345678" />
                        <label for="phone-number">{{ 'customer.addresses.phone_number' | t }}</label>
                        <span class="require-message">
                            {{ 'customer.addresses.require_error' | t }}
                        </span>
                        <span class="invalid-message">
                            {{ 'customer.addresses.invalid_phone_error' | t }}
                        </span>
                    </div>
                    <div class="action-button">
                        <button class="back-button">
                            <span>{{ 'customer.addresses.back' | t }}</span>
                        </button>
                        <button class="save-button">
                            <span>{{ 'customer.addresses.save_address' | t }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="notify-popup-wrapper">
            <div class="remove-address-confirm">
                <input name="remove-address-id" hidden>
                <div class="close-button">
                    <span>
                        {% render 'icon-alls', icon: 'close-address-form' %}
                    </span>
                </div>
                <div class="confirm-title">
                    <span>
                        {{ 'customer.addresses.remove_address_title' | t }}
                    </span>
                </div>
                <div class="content">
                    <span class="allowed-remove">
                        {{ 'customer.addresses.allowed_remove_address' | t }}
                    </span>
                    <span class="not-allowed-remove">
                        {{ 'customer.addresses.not_allow_remove_address' | t }}
                    </span>
                </div>
                <div class="action-button">
                    <button class="not-remove">
                        <span>{{ 'customer.addresses.no' | t }}</span>
                    </button>
                    <button class="remove">
                        <span>{{ 'customer.addresses.yes' | t }}</span>
                    </button>
                    <button class="back-button">
                        <span>{{ 'customer.addresses.back' | t }}</span>
                    </button>
                </div>
            </div>
            <div class="invalid-address">
                <div class="close-button">
                    <span>
                        {% render 'icon-alls', icon: 'close-address-form' %}
                    </span>
                </div>
                <div class="invalid-address-title">
                    <span>
                        {{ 'customer.addresses.invalid_address_title' | t }}
                    </span>
                </div>
                <div class="content">
                    <span>
                        {{ 'customer.addresses.invalid_address' | t }}
                    </span>
                </div>
                <div class="action-button">
                    <button class="back-button">
                        <span>{{ 'customer.addresses.back' | t }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</my-address>
<script src="{{ 'my-address.js' | asset_url }}" defer="defer"></script>