{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% style %}
  .section--{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | default: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile | default: 0 }}px;
  }
  @media screen and (min-width: 768px) {
    .section--{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | default: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | default: 0 }}px;
    }
  }
{% endstyle %}
{%- liquid
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile 
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider
    assign show_desktop_slider = true
  endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div
    class="collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section--{{ section.id }}-padding {% unless section.settings.full_page %} page-width {% endunless %}"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}">
    <div class="text-{{ section.settings.heading_alignment }} collection__title title-wrapper title-wrapper--no-top-margin {% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {%- if section.settings.heading != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.heading }}
        </h2>
      {%- endif -%}
      {%- if section.settings.description != blank -%}
        <div class="collection__description {{ section.settings.description_style }} rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
          {{ section.settings.description -}}
        </div>
      {%- endif -%}
    </div>
    <div class="collection-wrapper">
      {%- if section.blocks.size > 0 -%}
        {%- render 'featured-collection' -%}
      {%- else -%}
        <p class="text-center">
          {{ 'sections.featured_collection.collection_title' | t }}
        </p>
      {%- endif -%}
    </div>
    {% if section.settings.image_shape == 'arch' %}
      {%- render 'icon-alls'
        , icon: 'icon-mask-arch' -%}
    {%- endif -%}
  </div>
</div>
<script src="{{ 'featured-collection.js' | asset_url }}" defer></script>
{% schema %}
  {
    "name": "t:sections.featured-collection-list.name",
    "tag": "section",
    "class": "section section-featured-collection-list",
    "disabled_on": {
      "groups": ["header", "footer", "aside"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:sections.featured-collection-list.settings.heading.label"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 25,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          },
          {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__4.label"
          },
          {
            "value": "hxxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "text_alignment",
        "id": "heading_alignment",
        "default": "center",
        "label": "t:sections.featured-collection-list.settings.heading_tag.label"
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "t:sections.featured-collection.settings.show_view_all.label"
      },
      {
        "type": "text",
        "id": "view_all_text",
        "label": "t:sections.featured-collection.settings.view_all_text.label"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured-collection.settings.description_style.label",
        "options": [
          {
            "value": "body",
            "label": "t:sections.featured-collection.settings.description_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.featured-collection.settings.description_style.options__2.label"
          },
          {
            "value": "uppercase",
            "label": "t:sections.featured-collection.settings.description_style.options__3.label"
          }
        ],
        "default": "body"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_collection.content"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "enable_desktop_slider",
        "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "full_page",
        "label": "t:sections.featured-collection-list.settings.full_page.label",
        "default": false
      },
      
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      },
      {
        "type": "select",
        "id": "image_shape",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.image_shape.options__1.label"
          },
          {
            "value": "arch",
            "label": "t:sections.all.image_shape.options__2.label"
          },
          {
            "value": "blob",
            "label": "t:sections.all.image_shape.options__3.label"
          },
          {
            "value": "chevronleft",
            "label": "t:sections.all.image_shape.options__4.label"
          },
          {
            "value": "chevronright",
            "label": "t:sections.all.image_shape.options__5.label"
          },
          {
            "value": "diamond",
            "label": "t:sections.all.image_shape.options__6.label"
          },
          {
            "value": "parallelogram",
            "label": "t:sections.all.image_shape.options__7.label"
          },
          {
            "value": "round",
            "label": "t:sections.all.image_shape.options__8.label"
          }
        ],
        "default": "default",
        "label": "t:sections.all.image_shape.label"
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_secondary_image.label"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_vendor.label"
      },
      {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_rating.label",
        "info": "t:sections.featured-collection.settings.show_rating.info"
      },
      {
        "type": "select",
        "id": "quick_add",
        "default": "none",
        "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
        "options": [
          {
            "value": "none",
            "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
          },
          {
            "value": "standard",
            "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
          },
          {
            "value": "bulk",
            "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection-list.settings.desktop_layout.label"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_mobile.content"
      },
      {
        "type": "select",
        "id": "view_all_style",
        "label": "t:sections.featured-collection.settings.view_all_style.label",
        "options": [
          {
            "value": "link",
            "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
          },
          {
            "value": "outline",
            "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
          },
          {
            "value": "solid",
            "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
          }
        ],
        "default": "solid"
      },
      {
        "type": "select",
        "id": "columns_mobile",
        "default": "2",
        "label": "t:sections.featured-collection.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.featured-collection-list.blocks.collection.name",
        "limit": 10,
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection-list.blocks.collection.settings.collection.label"
          }, 
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.featured-collection-list.blocks.collection.settings.title.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection-list.presets.name",
        "settings": {}
      }
    ]
  }
{% endschema %}