{{ 'main-account.css' | asset_url | stylesheet_tag }}

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

{% style %}
@media screen and (min-width: 768px) {
  .account-container {
    padding-top: {{ section.settings.padding_top_desktop }}px;
    padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
    padding-left: {{ section.settings.padding_left_desktop }}px;
    padding-right: {{ section.settings.padding_right_desktop }}px;
  }
}

@media screen and (max-width: 767px) {
  .account-container {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    padding-left: {{ section.settings.padding_left_mobile }}px;
    padding-right: {{ section.settings.padding_right_mobile }}px;
  }
}
{% endstyle %}

<main-account>
<div class="account-container" data-first-tab="{{ section.settings.first_tab }}" data-language-code="{{ localization.language.iso_code }}">
    <div class="heading">
      <h1>{{ 'customer.account.my_account' | t }}</h1>
      <a class="sign-out" href="{{ routes.account_logout_url }}">
        {{ 'customer.sign_out' | t }}
      </a>
    </div>

    <div class="tab-bar-container">
      <div class="tab-bar">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'my_information' -%}
              <button
                id="my-information-tab"
                class="tab"
                data-url-tag="{% if block.settings.url_tag != blank %}{{ block.settings.url_tag }}{% else %}{{ block.id }}{% endif %}"
              >
                <div class="content">
                  <span>{{ 'customer.account.information_tab' | t }}</span>
                </div>
                <div class="line"></div>
              </button>
            {%- when 'order_history' -%}
              <button
                id="order-history-tab"
                class="tab"
                data-url-tag="{% if block.settings.url_tag != blank %}{{ block.settings.url_tag }}{% else %}{{ block.id }}{% endif %}"
              >
                <div class="content">
                  <span>{{ 'customer.account.order_history_tab' | t }}</span>
                </div>
                <div class="line"></div>
              </button>
            {%- when 'my_address' -%}
              <button
                id="my-address-tab"
                class="tab"
                data-url-tag="{% if block.settings.url_tag != blank %}{{ block.settings.url_tag }}{% else %}{{ block.id }}{% endif %}"
              >
                <div class="content">
                  <span>{{ 'customer.account.address_tab' | t }}</span>
                </div>
                <div class="line"></div>
              </button>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>

    <div class="tab-content">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'my_information' -%}
            {% render 'my-information' %}
          {%- when 'order_history' -%}
            {% render 'order-history', 
              block: block,
              contentForQuerystring: contentForQuerystring
            %}
          {%- when 'my_address' -%}
            {% render 'my-address' %}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</main-account>
<script src="{{ 'main-account.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "blocks": [
    {
      "type": "my_information",
      "name": "t:sections.main-account.blocks.my_information.label",
      "limit": 1
    },
    {
      "type": "order_history",
      "name": "t:sections.main-account.blocks.order_history.label",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "no_order_image",
          "label": "t:sections.main-account.blocks.order_history.settings.no_order_image"
        }
      ]
    },
    {
      "type": "my_address",
      "name": "t:sections.main-account.blocks.my_address.label",
      "limit": 1
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "first_tab",
      "default": "my-information-tab",
      "label": "t:sections.main-account.settings.first_tab",
      "info": "t:sections.main-account.settings.first_tab_info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_left_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_left",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_right_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_right",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_left",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_right",
      "default": 0
    }
  ]
}
{% endschema %}
