{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .promotion-content--{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile | default: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile | default: 0 }}px;
    padding-right: 0px;
    padding-left: 0px;
  }

  @media screen and (min-width: 768px) {
    .promotion-content--{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | default: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | default: 0 }}px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_mobile_id = section.settings.video.id | default: section.settings.video_url_mobile.id
  assign video_alt = section.settings.video.alt | default: section.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

{%- capture sizes -%}
  {% if section.settings.full_width -%}
    100vw
  {%- else -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 768px)
    calc(100vw - 10rem), 100vw
  {%- endif %}
{%- endcapture -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="video-section {% if section.settings.show_text_below %} banner-container-content-mobile {% endif %} video-wrapper isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">
    <div class="image-treatment-overlay pointer-events-none"></div>
    <div class="video-content">
      {%- unless section.settings.heading == blank -%}
        <div class="promotion-wrapper md:promotion-alignment--{{ section.settings.position }} md:text-{{ section.settings.text_alignment }} text-{{ section.settings.text_alignment_mobile }}">
          <div class="promotion-banner">
            <div class="promotion-content promotion-content--{{ section.id }}-padding {% if section.settings.text_alignment == "center" %} bg-gradient-radial {% endif %} md:items-{{ section.settings.align_content }} items-{{ section.settings.align_content_mobile }}">
              <div class="content-banner" aria-hidden="true">
                {%- if section.settings.heading != blank -%}
                  <h2 class="leading-tight heading-content-promotion-banner heading--{{ section.id }} {{ section.settings.heading_size }}">
                    {{ section.settings.heading }}
                  </h2>
                {%- endif -%}
                {% if section.settings.content != blank %}
                  <div class="content-text-{{ section.id }} content-promotion-banner">
                    {{ section.settings.content }}
                  </div>
                {% endif %}
              </div>
               <div class="button-promotion-banner">
                  {%- if section.settings.button_label != blank -%}
                    {%- if section.settings.button_link == blank -%}
                      <div class="button-video-with-text">
                        <div class="text">
                          {{ section.settings.button_label }}
                        </div>
                        <div class="icon">
                          {% render 'icon-alls', icon: 'icon-arrow' %}
                        </div>
                      </div>
                    {%- else -%}
                      <a
                        class="button-video-with-text"
                        href="{{ section.settings.button_link }}"
                        {% if section.settings.open_new_window %}
                          target="_blank"
                        {% endif %}
                      >
                        <div class="text">
                          {{ section.settings.button_label }}
                        </div>
                        <div class="icon">
                          {% render 'icon-alls', icon: 'icon-arrow' %}
                        </div>
                      </a>
                    {%- endif -%}
                  {%- endif -%}
                </div>
            </div>
          </div>
        </div>
      {%- endunless -%}
    </div>
    {%- if section.settings.enable_video_autoplay -%}
      {%- if section.settings.video == null and section.settings.video_url != null -%}
        {%- liquid
          assign video_type = 'vimeo'
          assign video_mobile_type = 'vimeo'
          if section.settings.video_url.type == 'youtube'
            assign video_type = section.settings.video_url.type
          endif
          if section.settings.video_url_mobile.type == 'youtube'
            assign video_mobile_type = section.settings.video_url_mobile.type
          endif
        -%}
        <div class="video-hero external-video {% if section.settings.video_url_mobile != blank %} md:block block-hidden {% endif %}" data-media-id="{{ video_id }}">
            <video-external
              data-media-id="{{ video_id }}"
              data-host="{{ video_type }}"
              data-loop="true"
              data-title="{{ section.settings.description | escape }}"
              data-controls="0"
              data-lazyload="true" 
              data-classes="{% if section.settings.show_text_below %} container-content-mobile {% endif %}"/>
        </div>
        {% if section.settings.video_url_mobile != blank %}
          <div class="video-hero external-video md:block-hidden block" data-media-id="{{ video_id }}">
              <video-external
                data-media-id="{{ video_mobile_id }}"
                data-host="{{ video_mobile_type }}"
                data-loop="true"
                data-title="{{ section.settings.description | escape }}"
                data-controls="0"
                data-lazyload="true" 
                data-classes="{% if section.settings.show_text_below %} container-content-mobile {% endif %}"/>
          </div>
        {% endif %}
      {%- else -%}
        {{
          section.settings.video | video_tag: image_size: '1100x', autoplay: true, loop: section.settings.enable_video_looping, controls: true, muted: false
        }}
      {%- endif -%}
    {%- else -%}
      <deferred-media
        class="video-section__media deferred-media gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        data-media-id="{{ video_id }}"
        {% if poster != null %}
        style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
        {% endif %}>
        <button
          id="Deferred-Poster-Modal-{{ video_id }}"
          class="video-section__poster media deferred-media__poster media--landscape"
          type="button"
          aria-label="{{ alt }}">
          {%- if poster != null -%}
            {{
              poster | image_url: width: 3840 | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
            }}
          {%- else -%}
            {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
          <span class="deferred-media__poster-button motion-reduce">
            <span class="svg-wrapper">
              {%- render 'icon-alls'
                , icon: 'icon-play' -%}
            </span>
          </span>
        </button>
        <template>
          {%- if section.settings.video == null and section.settings.video_url != null -%}
            {%- liquid
              assign loop = ''
              if section.settings.enable_video_looping
                assign loop = '&loop=1&playlist=' | append: video_id
              endif
            -%}
            {%- if section.settings.video_url.type == 'youtube' -%}
              <iframe
                src="https://www.youtube.com/embed/{{ video_id }}?mute=1&autoplay=1&playsinline=1&enablejsapi=1&modestbranding=1&rel=0&controls=1&showinfo=1{{ loop }}"
                class="js-youtube"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                frameborder="0"
                host="youtube"
                allowfullscreen
                playsinline
                title="{{ section.settings.description | escape }}"></iframe>
            {%- else -%}
              <iframe
                src="https://player.vimeo.com/video/{{ video_id }}?muted=1&autoplay=1&playsinline=1&api=1&controls=1{{ loop }}"
                class="js-vimeo"
                allow="autoplay; encrypted-media"
                allowfullscreen
                title="{{ section.settings.description | escape }}"></iframe>
            {%- endif -%}
          {%- else -%}
            {{
              section.settings.video | video_tag: image_size: '1100x', autoplay: true, loop: section.settings.enable_video_looping, controls: true, muted: false
            }}
          {%- endif -%}
        </template>
      </deferred-media>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.video.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "t:sections.video.settings.heading.default",
        "label": "t:sections.video.settings.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          },
          {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__4.label"
          },
          {
            "value": "hxxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "t:sections.video.settings.content.label"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.video.settings.enable_video_looping.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_video_autoplay",
        "label": "t:sections.video.settings.enable_video_autoplay.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.header__1.content"
      },
      {
        "type": "video",
        "id": "video",
        "label": "t:sections.video.settings.video.label"
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.header__2.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.video.settings.paragraph.content"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "t:sections.video.settings.video_url.label",
        "info": "t:sections.video.settings.video_url.info"
      },
      {
        "type": "video_url",
        "id": "video_url_mobile",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "t:sections.video.settings.video_url.label",
        "info": "t:sections.video.settings.video_url.info"
      },
      {
        "type": "image_picker",
        "id": "cover_image",
        "label": "t:sections.video.settings.cover_image.label"
      },
      {
        "type": "text",
        "id": "description",
        "label": "t:sections.video.settings.description.label",
        "info": "t:sections.video.settings.description.info"
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.header__3.content"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.video.settings.full_width.label",
        "default": false
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.button_layout.content"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.video.settings.button_layout.label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.video.settings.button_layout.link"
      },
      {
        "type": "checkbox",
        "default": false,
        "label": "t:sections.video.settings.button_layout.target",
        "id": "open_new_window"
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.desktop_layout.content"
      },
      {
        "type": "select",
        "id": "position",
        "label": "t:sections.video.settings.desktop_layout.position",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.all.desktop_content_position.options__1.label"
          },
          {
            "value": "top-center",
            "label": "t:sections.all.desktop_content_position.options__2.label"
          },
          {
            "value": "top-right",
            "label": "t:sections.all.desktop_content_position.options__3.label"
          },
          {
            "value": "center-left",
            "label": "t:sections.all.desktop_content_position.options__4.label"
          },
          {
            "value": "center",
            "label": "t:sections.all.desktop_content_position.options__5.label"
          },
          {
            "value": "center-right",
            "label": "t:sections.all.desktop_content_position.options__6.label"
          },
          {
            "value": "bottom-left",
            "label": "t:sections.all.desktop_content_position.options__7.label"
          },
          {
            "value": "bottom-center",
            "label": "t:sections.all.desktop_content_position.options__8.label"
          },
          {
            "value": "bottom-right",
            "label": "t:sections.all.desktop_content_position.options__9.label"
          }
        ],
        "default": "bottom-left"
      },
      {
        "type": "text_alignment",
        "id": "text_alignment",
        "label": "t:sections.video.settings.desktop_layout.text_alignment",
        "default": "left"
      },
      {
        "type": "select",
        "id": "align_content",
        "label": "t:sections.video.settings.desktop_layout.align_content",
        "options": [
          {
            "value": "start",
            "label": "t:sections.all.align_content.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.all.align_content.options__2.label"
          },
          {
            "value": "end",
            "label": "t:sections.all.align_content.options__3.label"
          }
        ],
        "default": "end"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "t:sections.video.settings.mobile_layout.content"
      },
      {
        "type": "text_alignment",
        "id": "text_alignment_mobile",
        "label": "t:sections.video.settings.mobile_layout.text_alignment",
        "default": "left"
      },
      {
        "type": "select",
        "id": "align_content_mobile",
        "label": "t:sections.video.settings.desktop_layout.align_content",
        "options": [
          {
            "value": "start",
            "label": "t:sections.all.align_content.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.all.align_content.options__2.label"
          },
          {
            "value": "end",
            "label": "t:sections.all.align_content.options__3.label"
          }
        ],
        "default": "end"
      },
      {
        "type": "checkbox",
        "default": false,
        "id": "show_text_below",
        "label": "t:sections.image-banner.settings.show_text_below.label"
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "t:sections.video.presets.name"
      }
    ]
  }
{% endschema %}